<nav class="side-menu">
    <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <ul class="menu-list">
        <li><a href="#"><span class="fas fa-gift"></span></a></li>
        <li><a href="kojin.html"><span class="fas fa-address-card"></span></a></li>
        <li><a href="#"><span class="fas fa-address-book"></span></a></li>
        <li><a href="#"><span class="fas fa-calendar-check"></span></a></li>
        <li><a href="#"><span class="fas fa-cog"></span></a></li>
        <li><a href="before_login.html"><span class="fas fa-sign-out-alt"></span></a></li>
    </ul>
</nav>
