@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* =======================================
	Common Style
======================================= */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  overflow: auto;
  height: 100%;
}

html,
body {
  position: relative;
  -webkit-overflow-scrolling: touch;
  color: #43425d;
  font-size: 16px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.6rem;
}

body {
  right: 0;
  left: 0;
  margin: auto;
  max-width: 768px;
  height: 100%;
  background: #effaff;
  color: #43425d;
}

*:focus {
  outline: none;
}

* {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

a {
  color: #43425d;
  text-decoration: none;
}

header {
  position: relative;
  z-index: 200;
  margin: auto;
  padding: 1rem 0 0 4rem;
  max-width: 768px;
  width: 100%;
}

header h1 {
  margin: 0 auto 1.5rem;
  color: #11b1dc;
}

header h1 img {
  height: 2.5rem;
}

header .side-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  margin: auto;
  max-width: 768px;
  width: 100%;
  pointer-events: none;
}

header .side-menu::before {
  z-index: -1;
  display: block;
  content: "";
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .side-menu.menu_show {
  position: fixed;
}

header .side-menu.menu_show::before {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 768px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

header .side-menu .hamburger {
  position: absolute;
  top: 13px;
  left: 10px;
  z-index: 1;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: all;
}

header .side-menu .hamburger .line {
  display: block;
  margin: 4px auto;
  width: 30px;
  height: 4px;
  background-color: #11b1dc;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .side-menu .hamburger.menu_show {
  left: 90px;
}

header .side-menu .menu-list {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  width: 80px;
  height: 100vh;
  background: #67dfff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-transform: translateX(-80px);
  transform: translateX(-80px);
}

header .side-menu .menu-list.menu_show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

header .side-menu .menu-list li {
  padding: 5px;
  width: 100%;
}

header .side-menu .menu-list li a {
  display: block;
  width: 70px;
  height: 50px;
  color: #fff;
  text-align: center;
  pointer-events: auto;
}

header .side-menu .menu-list li a span {
  font-size: 1.6rem;
  line-height: 50px;
}

header .side-menu:hover .hamburger {
  opacity: .5;
}

header .side-menu .hamburger.menu_show .line:nth-child(2) {
  opacity: 0;
}

header .side-menu .hamburger.menu_show .line:nth-child(1),
header .side-menu .hamburger.menu_show .line:nth-child(3) {
  width: 32px;
  background: #fff;
}

header .side-menu .hamburger.menu_show .line:nth-child(1) {
  -webkit-transform: translate(0, 5px) rotate(-45deg);
  transform: translate(0, 5px) rotate(-45deg);
}

header .side-menu .hamburger.menu_show .line:nth-child(3) {
  -webkit-transform: translate(0, -11px) rotate(45deg);
  transform: translate(0, -11px) rotate(45deg);
}

header h1,
main {
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.menu_show header h1,
.menu_show main {
  padding-left: 80px;
}

#profile header .side-menu .hamburger .line {
  background-color: #fff;
}

h1.title-logo {
  margin: 0 auto 50px;
  max-width: 200px;
  width: 100%;
}

h1 {
  margin: 0 auto .5rem;
  color: #11b1dc;
  font-weight: bold;
  font-size: 24px;
}

.text-medium {
  margin: 0 auto .25rem;
  font-size: 16px;
  line-height: 26px;
}

.text-small {
  margin: 0 auto .25rem;
  font-size: 14px;
  line-height: 22px;
}

.center {
  text-align: center;
}

.small {
  font-size: 13px;
}

.bold {
  font-weight: bold;
}

.container {
  margin: 3rem auto 0;
  max-width: 768px;
  width: 100%;
}

.container-box {
  margin: 0 auto 1rem;
}

.card {
  margin: auto;
  padding: 2rem 1rem .5rem;
  max-width: 580px;
  width: calc(100% - 2rem);
  border-radius: 10px;
}

.card.white {
  background: #fff;
  -webkit-box-shadow: 0 -3px 20px rgba(195, 232, 247, 0.7);
  box-shadow: 0 -3px 20px rgba(195, 232, 247, 0.7);
}

.card.end {
  border-radius: 10px 10px 0 0 / 10px 10px 0 0;
}

.list-presents {
  margin: 0 auto 1.5rem;
  width: 100%;
}

.list-presents > dt {
  position: relative;
  padding: .5rem 1.5rem;
  width: 80%;
  border-radius: 0 2rem 2rem 0;
  background: -webkit-gradient(linear, right top, left top, from(#11b1dc), to(#67dfff));
  background: linear-gradient(to left, #11b1dc 0%, #67dfff 100%);
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.list-presents > dt::before, .list-presents > dt::after {
  position: absolute;
  top: 45%;
  right: 20px;
  display: inline-block;
  width: 25px;
  height: 4px;
  background: #fff;
  content: "";
  text-align: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.list-presents > dt::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.list-presents > dt.show::before {
  content: "";
  opacity: 0;
}

.list-presents > dt.show::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.list-presents > dd {
  position: relative;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: height 600ms ease-in-out;
  transition: height 600ms ease-in-out;
  -webkit-animation: 400ms ease-in both fadeout;
  animation: 400ms ease-in both fadeout;
}

.list-presents > dd.show {
  display: block;
  width: 100%;
  height: auto;
  -webkit-animation: 600ms ease-out both fadein;
  animation: 600ms ease-out both fadein;
}

.list-presents > dd dl:last-of-type {
  margin: 0 auto;
}

@-webkit-keyframes fadein {
  0% {
    visibility: hidden;
    padding: 0 1rem 0 3rem;
    opacity: 0;
  }
  100% {
    visibility: visible;
    padding: 1.5rem 1rem 1rem 3rem;
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    visibility: hidden;
    padding: 0 1rem 0 3rem;
    opacity: 0;
  }
  100% {
    visibility: visible;
    padding: 1.5rem 1rem 1rem 3rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    visibility: visible;
    padding: 1.5rem 1rem 1rem 3rem;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    padding: 0 1rem 0 3rem;
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    visibility: visible;
    padding: 1.5rem 1rem 1rem 3rem;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    padding: 0 1rem 0 3rem;
    opacity: 0;
  }
}

.card-gift {
  position: relative;
  margin: 0 auto 1rem;
  padding: 1rem;
  min-height: 115px;
  width: 100%;
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 10px rgba(195, 232, 247, 0.7);
  box-shadow: 3px 3px 10px rgba(195, 232, 247, 0.7);
}

.card-gift::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1.5rem;
  margin: auto;
  width: 1.5rem;
  height: 2px;
  background: rgba(17, 177, 220, 0.3);
  content: "";
}

.card-gift::after {
  position: absolute;
  top: calc(100% - 150% - 1.5rem);
  left: -1.5rem;
  margin: auto;
  width: 2px;
  height: calc(100% + 1rem);
  background: rgba(17, 177, 220, 0.3);
  content: "";
}

.card-gift .item-area {
  position: absolute;
  top: 1rem;
  text-align: center;
}

.card-gift .item-area .date {
  display: block;
  margin: 0 auto .5rem;
  color: #11b1dc;
  font-weight: bold;
  font-size: 18px;
}

.card-gift .item-area figure {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  -webkit-box-shadow: 3px 3px 10px rgba(17, 177, 220, 0.2);
  box-shadow: 3px 3px 10px rgba(17, 177, 220, 0.2);
  text-align: center;
}

.card-gift .item-area figure img {
  width: 100%;
  height: auto;
}

.card-gift .item-area a {
  display: block;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

.card-gift .item-area a:hover {
  opacity: .8;
}

.card-gift.give {
  padding-left: 5rem;
}

.card-gift.give .item-area {
  left: 1rem;
}

.card-gift.take {
  padding-right: 5rem;
}

.card-gift.take .item-area {
  right: 1.5rem;
}

.card-gift > dt {
  margin: 0 auto .25rem;
  font-weight: bold;
  font-size: 16px;
}

.card-gift > dt::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2.1rem;
  z-index: 10;
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;
  border: 4px solid #11b1dc;
  border-radius: 50%;
  background: #effaff;
  content: "";
}

.card-gift > dt a {
  color: #0c93c9;
}

hr {
  margin: 0 auto 1.5rem;
  border: none;
}

hr.dot_line {
  border: 1px dashed rgba(17, 177, 220, 0.2);
}

/* =======================================
	profile
======================================= */
.profile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  z-index: 1;
  padding: 120px 0 0;
  width: 100%;
  background-color: currentColor;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.4)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  text-align: center;
}

.profile .name {
  padding: 0 0 0 35px;
  color: #fff;
}

.profile .name a {
  display: inline-block;
  overflow: hidden;
  margin-left: 10px;
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
}

.profile span.badge {
  margin: 0 auto -1rem;
  border: rgba(17, 177, 220, 0.6) 4px solid;
  background-color: #fff;
  color: currentColor;
}

.profile + div.memo {
  width: 90%;
}

.profile + div {
  margin: 180px auto 0;
}

/* =======================================
	Components
======================================= */
.btn {
  position: relative;
  z-index: 0;
  display: block;
  margin: 0 auto 1.5rem;
  max-width: 248px;
  width: 100%;
  height: 48px;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 48px;
}

.btn::before, .btn::after {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  content: "";
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.btn:hover::before {
  opacity: 0;
}

.btn:active::after {
  opacity: 0;
}

.btn-primary {
  background: #11b1dc;
}

.btn-primary::before {
  background: -webkit-gradient(linear, right top, left top, from(#11b1dc), to(#67dfff));
  background: linear-gradient(to left, #11b1dc 0%, #67dfff 100%);
}

.btn-primary::after {
  -webkit-box-shadow: 3px 3px 10px rgba(12, 147, 201, 0.6);
  box-shadow: 3px 3px 10px rgba(12, 147, 201, 0.6);
}

.btn-primary:active {
  -webkit-box-shadow: 1px 1px 10px #0c93c9 inset;
  box-shadow: 1px 1px 10px #0c93c9 inset;
}

.btn-google {
  background: #fff;
  color: #82819a;
}

.btn-google img {
  margin-right: .5rem;
  line-height: 1;
}

.btn-google::before {
  background: -webkit-gradient(linear, right top, left top, from(white), to(rgba(221, 221, 221, 0.1)));
  background: linear-gradient(to left, white 0%, rgba(221, 221, 221, 0.1) 100%);
}

.btn-google::after {
  -webkit-box-shadow: 3px 3px 10px rgba(221, 221, 221, 0.6);
  box-shadow: 3px 3px 10px rgba(221, 221, 221, 0.6);
}

.btn-google:active {
  -webkit-box-shadow: 1px 1px 10px rgba(190, 189, 213, 0.6) inset;
  box-shadow: 1px 1px 10px rgba(190, 189, 213, 0.6) inset;
}

.btn-info {
  background: #fe719d;
}

.btn-info::before {
  background: -webkit-gradient(linear, right top, left top, from(#fe719d), to(#ffc6d8));
  background: linear-gradient(to left, #fe719d 0%, #ffc6d8 100%);
}

.btn-info::after {
  -webkit-box-shadow: 3px 3px 10px rgba(175, 55, 129, 0.6);
  box-shadow: 3px 3px 10px rgba(175, 55, 129, 0.6);
}

.btn-info:active {
  -webkit-box-shadow: 1px 1px 10px #af3781 inset;
  box-shadow: 1px 1px 10px #af3781 inset;
}

.btn-filter {
  background: #fff;
  color: #0c93c9;
}

.btn-filter::before {
  background: -webkit-gradient(linear, right top, left top, from(white), to(rgba(167, 167, 167, 0.1)));
  background: linear-gradient(to left, white 0%, rgba(167, 167, 167, 0.1) 100%);
}

.btn-filter::after {
  -webkit-box-shadow: 3px 3px 10px rgba(12, 147, 201, 0.6);
  box-shadow: 3px 3px 10px rgba(12, 147, 201, 0.6);
}

.btn-filter:active {
  -webkit-box-shadow: 1px 1px 10px rgba(12, 147, 201, 0.6) inset;
  box-shadow: 1px 1px 10px rgba(12, 147, 201, 0.6) inset;
}

.link-text {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto 1.5rem;
  line-height: 1.2rem;
}

.link-text.forget {
  padding: .1rem 0 .1rem 1.9rem;
  line-height: 1.2rem;
}

.link-text.forget::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .3rem;
  display: inline-block;
  margin: auto;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #fe719d;
  color: #fff;
  content: "？";
  text-align: center;
  line-height: 1.2rem;
}

.link-text.back::before {
  display: inline-block;
  padding: 0 .3rem 0 0;
  color: #11b1dc;
}

.text-message {
  margin: 0 auto 1.5rem;
  line-height: 1.2rem;
}

.form-group {
  margin: 0 auto 1.5rem;
  max-width: 480px;
  text-align: left;
}

.form-group span {
  display: block;
  font-size: 13px;
}

.form-group input {
  padding: 1rem .5rem;
  width: 100%;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  background: #fff;
  font-size: 1rem;
  line-height: 1rem;
}

.form-group input::-webkit-input-placeholder {
  padding: .1rem 0 0 0;
  color: #cecfd0;
  font-size: 14px;
}

.form-group input::-moz-placeholder {
  padding: .1rem 0 0 0;
  color: #cecfd0;
  font-size: 14px;
}

.form-group input:-ms-input-placeholder {
  padding: .1rem 0 0 0;
  color: #cecfd0;
  font-size: 14px;
}

.form-group input::-ms-input-placeholder {
  padding: .1rem 0 0 0;
  color: #cecfd0;
  font-size: 14px;
}

.form-group input::placeholder {
  padding: .1rem 0 0 0;
  color: #cecfd0;
  font-size: 14px;
}

.form-group input:focus {
  border: 1px solid #a7a7a7;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.spinner {
  display: block;
  margin: 4rem auto;
  width: 3rem;
  height: 3rem;
  border: 3px solid transparent;
  border-top-color: rgba(17, 177, 220, 0.5);
  border-bottom-color: rgba(17, 177, 220, 0.5);
  border-radius: 50%;
  -webkit-animation: rotation .8s ease infinite;
  animation: rotation .8s ease infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.badge-area {
  padding: .25rem 0 0;
}

.badge-area .badge {
  margin: 0 .1rem .2rem;
}

.badge {
  display: inline-block;
  padding: .1rem .6rem 0;
  background: #11b1dc;
  color: #fff;
  vertical-align: text-bottom;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
  font-size: 75%;
}

.badge-pill {
  border-radius: 10rem;
}

.fas::before {
  padding-right: .5rem;
}

.badge-checkbox {
  padding-top: .5rem;
}

.badge-checkbox span {
  position: relative;
  display: inline-block;
  margin: 0 .1rem .5rem;
  padding: .4rem 1rem .3rem 1.5rem;
  border-radius: 10rem;
  background: #11b1dc;
  color: #fff;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
}

.badge-checkbox span input[type=checkbox] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .5rem;
  margin: auto;
  width: .5rem;
  height: .5rem;
  border: rgba(255, 255, 255, 0.5) solid 1px;
  border-radius: 50%;
  line-height: 1rem;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.badge-checkbox span input[type=checkbox] + label {
  line-height: 1rem;
  cursor: pointer;
}

.badge-checkbox span input[type=checkbox] + label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: 8rem;
  background: #fff;
  content: "";
  opacity: .5;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.badge-checkbox span input[type=checkbox]:checked {
  background: #fff;
}

.badge-checkbox span input[type=checkbox]:checked + label {
  opacity: 1;
}

.badge-checkbox span input[type=checkbox]:checked + label::after {
  opacity: 0;
}

#search-area {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: table;
  overflow: hidden;
  margin: auto;
  max-width: 768px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#search {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: hidden;
  width: 80px;
  height: 80px;
  font-size: 0;
  cursor: pointer;
  pointer-events: auto;
}

#search::before {
  position: absolute;
  z-index: 1;
  display: block;
  padding: 0;
  width: 90px;
  color: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 70px;
}

#search::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #11b1dc;
  color: #fff;
  content: "";
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#search.show::before {
  content: "✕";
}

#search.show::after {
  background-color: rgba(17, 177, 220, 0);
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

#search:hover::after {
  background-color: #11b1dc;
}

.search-wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  display: table;
  overflow: hidden;
  padding: 50px 0 100px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 177, 220, 0);
  pointer-events: none;
}

.search-wrap::after {
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 0;
  display: table;
  border-radius: 100%;
  background: #11b1dc;
  content: "";
  pointer-events: auto;
}

.search-wrap.show {
  overflow-y: auto;
  background-color: #11b1dc;
  -webkit-transition: background-color 100ms 400ms;
  transition: background-color 100ms 400ms;
  pointer-events: auto;
}

.search-wrap.show::after {
  -webkit-animation: 600ms ease-out both 50ms search;
  animation: 600ms ease-out both 50ms search;
}

.search-wrap dl,
.search-wrap .btn {
  position: relative;
  z-index: 1;
  margin: 50px auto 0;
  width: 90%;
  opacity: 0;
}

.search-wrap dl dt,
.search-wrap .btn dt {
  padding: 0 0 .5rem;
  color: #fff;
  font-size: 1.2rem;
}

.search-wrap dl dd,
.search-wrap .btn dd {
  padding: 0 .4rem;
  border-radius: 10px;
  background: #fff;
}

.search-wrap .show dl {
  -webkit-animation: 300ms ease-out both 600ms fadeArea;
  animation: 300ms ease-out both 600ms fadeArea;
  pointer-events: auto;
}

.search-wrap .btn.show {
  -webkit-animation: 300ms ease-out both 600ms fadeArea;
  animation: 300ms ease-out both 600ms fadeArea;
  pointer-events: auto;
}

@-webkit-keyframes search {
  0% {
    top: -20px;
    right: -20px;
    width: 100px;
    height: 100px;
    opacity: .5;
  }
  90% {
    top: -500px;
    right: -500px;
    width: 2000px;
    height: 2000px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes search {
  0% {
    top: -20px;
    right: -20px;
    width: 100px;
    height: 100px;
    opacity: .5;
  }
  90% {
    top: -500px;
    right: -500px;
    width: 2000px;
    height: 2000px;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeArea {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeArea {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*# sourceMappingURL=common.css.map */
